@import "tailwindcss";
@import "aos/dist/aos.css";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
}


html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 transition-colors duration-300;
}

section {
  scroll-margin-top: 5rem;
}

.dark body {
  @apply bg-slate-900 text-slate-100;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-slate-600;
}